<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ "/static/basic.css" | absolute_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{ "/images/favicon" }}">
<head>
    {% include header.html %}
</head>
<body>

    <header>
        <h1>DevBlog</h1>
    </header>

    <nav>
        <div class="container">
            <a href="/devupdates">Home</a>
            <a href="/">About</a>
            <a href="/">Contact</a>
        </div>
    </nav>

    <main class="container">
        {{ content }}
        {% for post in site.posts limit: 5 %}
            <article class="blog-post">
                <h2>{{ post.title }}</a></h2>
                <p class="meta">{{ post.date }}></p>
                <p class="preview">{{ post.excerpt }}</p>
                <p class="meta"><a href="{{ site.baseurl }}{{ post.url }}">View more...</a></p>
            </article>
        {% endfor %}
    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>