<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ "/static/basic.css" | absolute_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{ "/images/favicon" }}">
<head>
    {% include header.html %}
</head>
<body>

    <header>
        <h1>Title</h1>
    </header>

    <nav>
        <div class="container">
            <a href="#">Loc1</a>
            <a href="#">Loc2</a>
            <a href="#">Loc3</a>
        </div>
    </nav>

    <main class="container">
        {{ content }}
        {% for post in site.posts limit: 5 %}
            <article class="blog-post">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="meta"><time datetime="{{ post.date | date: "%Y-%m-%d" }}"></time></p>
                <p>{{ post.excerpt }}</p>
            </article>
        {% endfor %}
    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>