<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ "/static/basic.css" | absolute_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{ "/images/favicon" }}">
<head>
    {% include header.html %}
</head>
<body>

    <header>
        <h1>DevBlog</h1>
    </header>

    <nav>
        <div class="container">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    <main class="container">
        
        <article class="blog-post">
            <h2>{{ page.title }}</h2>
            <p class="preview">{{ content }}</p>
        </article>

    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>